@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
    transition: all 350ms;
}

.add:hover,
.addProduct:hover,
.fa-plus-circle:hover {
    color: blue;
    cursor: pointer;
}

/* products.css */

.container-fluid {
    margin-top: 20px;
}

.header {
    text-align: center;
}

.search-container {
    margin-bottom: 10px;
}

.table {
    margin-top: 20px;
}

.form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.logout:hover {
    color: red !important;
    text-decoration: underline !important;
}